* {
  background-color: #faecf0;
  font-family: 'Poppins', sans-serif;
}

.header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  margin-top: 40px;
  font-weight: 500;
  font-size: 38px;
}

.subheader {
  font-weight: 200;
  text-align: center;
  margin-top: 0;
  font-size: 13px;
  line-height: 0;
}

.nav-item {
  display: inline;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 50px;
}
.nav-item a {
  color: black;
}

.photo-div {
  display: block;
}

.about-div {
  width: 30%;
  float: left;
  max-width: 400px;
  margin-left: 30px;
}

.about-div p {
  line-height: 1.5;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 300;
}

.about-header {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 400;
}

.about-icons {
  width: 7%;
  padding-right: 20px;
}

.profile-photo {
  width: 25%;
  display: block;
  border-radius: 3px;
  float: left;
  margin-left: 10px;
}



.resume {
  display: block;
  margin: 15px auto 15px auto;
  border-radius: 2%;
}

.contact-form {
  display: inline-block;
}

.form-input {
  background-color: white;
  margin-left: 10px;
  padding: 7px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

a {
  cursor: pointer;
}