* {
  background-color: #fbf2f5;
  font-family: 'Poppins', sans-serif;
  /* border: solid red 1px; */
}

.header {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  margin-top: 40px;
  font-weight: 500;
  font-size: 38px;
}

.subheader {
  font-weight: 200;
  text-align: center;
  margin-top: 0;
  font-size: 13px; 
  line-height: 0;
}

.nav-item {
  display: inline;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 50px;
}
.nav-item a {
  color: black;
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline wavy black;
}

.photo-div img {
  width: 25rem;
}

.about-div {
  width: 30%;
  float: left;
  max-width: 400px;
  margin-left: 30px;
  /* border: solid red 2px; */
}

.about-div p {
  line-height: 1.5;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 300;
}

.about-header {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 400;
}

.about-icons {
  width: 7%;
  padding-right: 20px;
}

.about-icons:hover {
  opacity: .5;
}


.resume {
  display: block;
  margin: 15px auto 15px auto;
  border-radius: 2%;
}

.contact-form {
  display: inline-block;
}

.form-input {
  background-color: white;
  margin-left: 10px;
  padding: 7px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  width: 300px;
  margin-bottom: 10px;
  border: solid black 1px;
}

label {
  margin-left: 10px;
}

.submit-button {
  margin-left: 10px;
  width: 120px;
  background: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

a {
  cursor: pointer;
}

.resume {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 15%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.homepage-div {
  border: red solid 1px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}